body{
	background-color: black;
	margin-left: 8%;
	margin-top: 6%;
	color: white;
}
h1{
	font-size: 3em;
}
form{
	font-size: 1.5em;
}
input[type=text]{
	width: 40%;
	padding: 12px 20px;
  	margin: 8px 0;
  	box-sizing: border-box;
  	border-radius: 4px;
}
input[type=submit]{
	width: 10%;
	padding: 8px 20px;
	font-size: 1em;
	font-weight: bold;
}
.lambo_image{
	width: 40%;
	height: 40%;
	margin-left: 30%;
	margin-top: 10%;
}
/*.inline-block{
	display: inline-block;
}*/
.row{
	dispay: flex;
}
.column{
	flex: 50%;
}